@model IEnumerable<BookingFlights.DataModel.Ticket>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}
<head>
	<link rel="stylesheet" href="~/css/ticket.css" asp-append-version="true" />
</head>

<ul class="tilesWrap">
	@foreach (var item in Model) {
	<li>
		<h2></h2>
		<h3>
			@Html.DisplayFor(modelItem => item.Type)
		</h3>
		<p>
			Price for this package is:
			@Html.DisplayFor(modelItem => item.Price)
		</p>
		<form method="index" action="Seats">
                <input type="hidden" value="@item.FlightId" name="FlightId" />
				<input type="hidden" value="@item.Id" name="TicketId" />
                <input type="submit" value="Choose Seat" />
		</form>
		@*<button>Choose</button>*@
	</li>
}
	@*<li>
		<h2>02</h2>
		<h3>Economy class</h3>
		<p>
			When an unknown printer took a galley of type and scrambled it to make 
			a type specimen book. It has survived not only five centuries.
		</p>
		<button>Choose</button>
	</li>
	<li>
		<h2>03</h2>
		<h3>Travel light</h3>
		<p>
			Free carry-on bag
		</p>
		<button>Choose</button>
	</li>
</ul>*@

	<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
				<form method="index" action="Seats">
                <input type="hidden" value="@item.FlightId" name="FlightId" />
				<input type="hidden" value="@item.Id" name="TicketId" />
                <input type="submit" value="Choose Seat" />
				</form>
            </td>
        </tr>
}
    </tbody>
</table>
