@model IEnumerable<BookingFlights.DataModel.Seat>

@{
    ViewData["Title"] = "Index";
}
<style>
    .wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-auto-columns: auto;
        grid-row-gap: 40px;
    }

    table, th {
        border: 3px solid;
       
    }

    td {
        border: 1px solid white ;
       
    }

    td#tr1 {
       border: 2px solid red;
       color:red;
    }

    tr {
        border: 0px;
    }
    
    p {
        color: red
    }

</style>
<h1>Choose seat for Selected flight</h1>

@*<p>
        <a asp-action="Create">Create New</a>
    </p>*@

<table class="table">
    <!--<thead>
        <tr>-->
            @*<th>
                @Html.DisplayNameFor(model => model.Number)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAvailable)
            </th>*@
            @*<th>
                    @Html.DisplayNameFor(model => model.FlightId)
                </th>*@

            <!--<th></th>
        </tr>
    </thead>-->
    <tbody class="wrapper">

        @foreach (var item in Model)
        {

        <tr>
            @if (item.isAvailable == false)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isAvailable)
                </td>
                @*<td>
                @Html.DisplayFor(modelItem => item.FlightId)
            </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Reserve</a>
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>
}
            else
            {
                <td id="tr1">
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td id="tr1">
                    @Html.DisplayFor(modelItem => item.isAvailable)
                </td>
                @*<td>
                @Html.DisplayFor(modelItem => item.FlightId)
            </td>*@
                <td id="tr1">
                    Booked
                    @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                </td>

            }
        </tr>
             
        }
    </tbody>
</table>
